@font-face {
    font-family: Airthan-Age;
    src: url(fonts/Airthan-Age.ttf);
}

h1 {
  font-family: "Airthan-Age";
  font-size: 5vw;
  font-weight: 400;
}

body {
  font-family: serif;
  font-size: 1.5vw;
  overflow-x: hidden;
  width: 100%;
  display: block;
}

body:not(.nobg) {
  background-image: url("./bg.png");
}

body.nobg {
  background: #eeeeee;
}

input, option, select {
  font-size: 1.5vw;
  padding: 0.5vw;
}

input[type=submit] {
  padding: 1vw 5vw;
  margin-bottom: 1vw;
}


.file-listing {
  display: block;
}

.file-listing .file {
  width: 15vw;
  height: 15vw;
  text-align: center;
  display: inline-block;
  margin: 5px 0;
  overflow: hidden;
}
.file-listing .file a {
  color: black;
  text-decoration: none;
  font-family: Verdana, sans-serif;
}

.file-listing .file a:before {
  content: "";
  width: 10vw;
  height: 10vw;
  display:  block;
  background: url("./icons/file.png");
  margin: 0 auto;
  background-size: 100%;
}

.message {
  display: block;
  margin: 5px;
  position: relative;
}

.hidden {
  font-size: 80%;
  color: red;
  font-style: italic;
}

.message .loud {
  font-family: sans-serif!important;
  font-weight: 900!important;
  text-shadow: 1px 0px black;
}

#skeleton {display: none;}
#queries input {
  margin: 0.5vw;
}
#queries input[type=button] {
  min-width: 3vw;
}
#queries .query {
  display: block;
}

.channel-name {
  background: #5865F2;
  color: white;
  padding: 0 2px;
  border-radius: 3px;
}

.message-fadein, .message-fadeout {
  display: block;
  position: relative;
  margin: 5px 0;
  padding: 15px 0 0 0;
  opacity: 0.75;
}

.message-fadein:before, .message-fadeout:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}

.message-fadein:before {
  background: linear-gradient(to bottom, #eeeeee, rgba(0,0,0,0));
}
.message-fadeout:before {
  background: linear-gradient(to bottom, rgba(0,0,0,0), #eeeeee);
}

.message.semitransparent {
  opacity: 0.5;
}