<html>
	<head>
		<link rel="stylesheet" href="/resources/style.css" type="text/css">
	</head>
	<body>
		{{$file := index .Values 1}}
		{{if eq $file ""}}
		<h2>No campaign specified</h2>
		{{else}}
		{{$filene := StringNoExtension $file}}
		{{$pfile := PrettyString $file}}
		<center>
			<h2>{{$pfile}}</h2>
			<form action='/campaign/{{$file}}/search'>
				<input type='submit' value='Search'>
			</form>
		</center>
		<span class='file-listing'>
			<span class='file'>
				<a href='/campaign/{{$file}}/messages/all'>All Messages</a>
			</span>
			{{range $i, $v := ListAreas $filene}}
			<span class='file'>
				<a href='/campaign/{{$file}}/messages/{{$v}}'>{{PrettyString $v}}</a>
			</span>
			{{end}}
		</span>
		{{end}}
	</body>
</html>