<html>
	<head>
		{{$area := index .Values 3}}
		{{if ne $area ""}}
		<title>{{PrettyString $area}}</title>
		{{end}}
		<link rel="stylesheet" href="/resources/style.css" type="text/css">
	</head>
	<body>
		{{$file := index .Values 1}}
		{{$filene := StringNoExtension $file}}
		
		{{if eq $area ""}}
			<b>No area specified</b>
		{{else}}
		{{$pfile := PrettyString $file}}
		{{$parea := PrettyString $area}}
		<p><a href='/campaign/{{$file}}'><- {{$pfile}}</a></p>
		<h2>{{$parea}}</h2>
		{{$messages := ListMessages $filene $area}}
		{{$messagelen := len $messages}}
		{{if ge $messagelen 1}}
		<span class='vbox message-listing'>
			{{$hiddenToggle := false}}
			{{$combinedDate := 0}}
			
			{{/*<!-- Last channel gotten; for grouping them. -->*/}}
			{{$lastChannel := ""}}

			{{/*<!-- last username, for grouping messages together-->*/}}
			{{$lastUser := ""}}
			{{range $i, $v := $messages }}

			{{/*<!--  yes there really is a case where a...blank message is just...returned...for some reason... -->*/}}
			{{if eq $v.Author ""}}
			{{else}}
			{{/*<!--  get the date and see how far off it is from the last date we got - -->*/}}
			{{$combinedDate2 := CombinedDate $v.Timestamp}}
			{{$diff := Sub $combinedDate2 $combinedDate}}
			{{/*<!--  because we want to hide the date if it's two days off.  -->*/}}
			{{if gt $diff 1}}
				{{/*<!--  make sure that 'out of character' messages don't have the timestamps; in fact those should end here -->*/}}
				{{if $hiddenToggle}} 
					</span>
					{{$hiddenToggle = false}}
				{{end}}
				<center><small>
					{{/*
					<!--- todo: find something slightly more accurate to display here, 
						the time isn't accurate since we're account for at least twoi days of no messages --->
					*/}}
					{{DateString $v.Timestamp}}
					{{$lastUser = ""}}
				</small></center>
				
				{{/*<!--  update the date to what we have now  -->*/}}
				{{$combinedDate = $combinedDate2}}
			{{end}}

			{{$content := HTMLEscape $v.Content}}

			{{if eq $area "all"}}
			{{if ne $lastChannel $v.Area}}
			{{if $hiddenToggle}} 
				</span>
				{{$hiddenToggle = false}}
			{{end}}
			<a target='a_blank' href='/campaign/{{$file}}/messages/{{$v.Area}}#{{$v.ID}}' class='channel-name'>#{{$v.Area}}</a><br>
			{{end}}
			{{end}}
			{{/*<!--  if it's from a fictional character  -->*/}}
			{{if eq $v.Fictional "True"}}
				{{/*<!--  end the 'out of character' block if we have to  -->*/}}
				{{if $hiddenToggle}} 
					</span>
					{{$hiddenToggle = false}}
				{{end}}
				{{/*<!--  start the message  -->*/}}
				{{if ne $lastUser $v.Author}}
				<span id='{{$v.ID}}' class='hbox message'>
					<div class="avatar" style="background-image: url('/resources/{{$v.Avatar}}')">
					</div>
					<span class="vbox rightpart">
					{{else}}
					<span class="vbox rightpart fake-margin">
					{{end}}
					
					{{if ne $lastUser $v.Author}}
						<span class="author">
							{{$v.Author}}
						</span>
						<span class="content">
						{{else}}
						{{end}}
							{{$type := GetMessageType $v}}
							{{if eq $type "loud"}}
								<span class='loud'>
							{{end}}
							{{ParseMarkdown $content}}
							{{if eq $type "loud"}}
							</span>
							{{end}}
						</span>

						{{if ne $lastUser $v.Author}}
					</span>
				</span>
						{{end}}

						{{$lastUser = $v.Author}}					
				
			{{else}}
				{{if $hiddenToggle}} 
				{{else}}
					{{$hiddenToggle = true}}
					{{$lastUser = ""}}
					<span class='hidden'>
				{{end}}
				<span class='message'>
					<b>{{$v.Author}}:</b> {{ParseMarkdown $content}}
				</span>
			{{end}}
			{{end}}
			{{$lastChannel = $v.Area}}
			{{end}}
			{{if $hiddenToggle}}
				</span>
			{{end}}
		</span>
		{{else}}
			<h3>No messages found; invalid area?</h3>
		{{end}}
		{{end}}
	</body>
</html>