<html>
	<head>
		<link rel="stylesheet" href="/resources/style.css" type="text/css">
	</head>
	<body>
		{{$file := index .Values 1}}
		{{if eq $file ""}}
		<h2>No campaign specified</h2>
		{{else}}
		{{$filene := StringNoExtension $file}}
		{{$pfile := PrettyString $file}}
		<span class="hbox header">
			<span class="hbox title"><h1>{{$pfile}}</h1></span>
			<span class="hbox search">
				<form action='/campaign/{{$file}}/search'>
					<input type='submit' value='Search'>
				</form>
			</span>
		</span>
		<span class='vbox file-listing'>
			{{range $i, $v := ListAreas $filene}}
			<span class='vbox file'>
				<h1>{{$v.Name}}</h1>
				{{range $i_, $v_ := $v.Areas}}
				<a href='/campaign/{{$file}}/messages/{{$v_.ID}}'>{{PrettyString $v_.Name}}</a><br>
				{{end}}
			</span>
			{{end}}
		</span>
		{{end}}
	</body>
</html>